body{
 background-color:rgba(197, 198, 198, 0.485);

}


.mn.dropdown:hover >.dropdown-menu  {
    display: block;
    transform: translateX(-100px);
    
    
    
  }

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
 pointer-events: none;
  }
.man{
  justify-content: space-around;
  
}
.but{
  border: white;
  background-color: white;
}
.navbar .dropdown:hover .dropdown-menu {
  display: block;
 
}
.bad{
  font-size: 8px;
  transform: translateY(10px);
  transform: translateX(-50px);
  bottom: 40px;
  align-self: end;
}
.war{
  display: flex-inline;
  justify-content: center;
  align-items: center;
  
}
.hov{
  width:110px;
  height: 130px;
}
.war:hover>.hov{
  transition: -1ms;
  width:120px;
  height: 130px;
}