body{
 background-color:#e5e6e7;

}


.mn.dropdown:hover >.dropdown-menu  {
    display: block;
    transform: translateX(-100px);
    
    
    
  }

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
 pointer-events: none;
  }
.man{
  justify-content: space-around;
  
}
.but{
  border: white;
  background-color: white;
}
.navbar .dropdown:hover .dropdown-menu {
  display: block;
 
}
.bad{
  font-size: 8px;
  transform: translateY(10px);
  transform: translateX(-50px);
  bottom: 40px;
  align-self: end;
}
.war{
  display: flex-inline;
  justify-content: center;
  align-items: center;
  
}
.hov{
  width:110px;
  height: 130px;
}
.war:hover>.hov{
  transform:scale(1.1,1.1);
}
.jus{
  justify-content: center;
  align-items: center;
}
.space {
  justify-content: space-between;
  
}

 .col-12:hover>.ho{
  transform:scale(1.1,1.1);
}
.col-6:hover>.ho{
  transform:scale(1.1,1.1);
}
.dd{
  flex-direction: column;
}
.fonts{
  font-size: 13px;
}
.dd a{
  text-decoration:none;
}
.dd a:hover{
  text-decoration:underline;
}