body{
 background-color:rgba(151, 152, 153, 0.485);

}


.mn.dropdown:hover >.dropdown-menu  {
    display: block;
    transform: translateX(-100px);
    
    
    
  }

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
 pointer-events: none;
  }
.man{
  justify-content: space-around;
  
}
.but{
  border: white;
  background-color: white;
}
.navbar .dropdown:hover .dropdown-menu {
  display: block;
 
}
.bad{
  font-size: 8px;
  transform: translateY(10px);
  transform: translateX(-50px);
  bottom: 40px;
  align-self: end;
}